<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207508977829-0e61f9tocnhjcm7l1dhmgjhn0pu5srmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207508977829-0e61f9tocnhjcm7l1dhmgjhn0pu5srmf</string>
	<key>API_KEY</key>
	<string>AIzaSyBqPpSC9dGhTK_dmziSvkNOAMd4mKphVZM</string>
	<key>GCM_SENDER_ID</key>
	<string>207508977829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quickitchen.ma-userapp</string>
	<key>PROJECT_ID</key>
	<string>quickitchenmaroc</string>
	<key>STORAGE_BUCKET</key>
	<string>quickitchenmaroc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207508977829:ios:dd7dd4b06f57f3d3db754c</string>
</dict>
</plist>